.info{
    div{
        display: flex;
        flex-direction: column;
        .tarjetas{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            .tarjeta{
                @media screen and (max-width:991px){
                    width: 100%;    
                }
                height: 160px;
                background-color: rgb(224, 106, 106);
                margin: 10px 0px;
                border-radius: 20px;
                h4{
                    padding: 10px;
                }
            }
        } 
    }
    
}

@media screen and (min-width:992px){
.info{
    div{
        display: flex;
        flex-direction: row;
        .text{
            display: flex;
            flex-direction: column;
            .titulos{
                display: flex;
                flex-direction: column;
                width: 50%;
            }
        }
    }

    .tarjetas{
        .tarjeta{
            width: 45%;
        }
    }
}
}